
@font-face {
    font-family: cocobiker;
    src: url(fonts/CocoBiker\ Regular\ Trial.ttf);
}

@font-face {
    font-family: cocogothicbold;
    src: url(fonts/CocoGothic-Bold_trial.ttf);
}

@font-face {
    font-family: cocogothiclight;
    src: url(fonts/CocoGothic-Light_trial.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 992px){
    #alturaSection{
        height:auto;
    }
}

html {
    scroll-behavior: smooth;
}


.nav-link {
    float: left;
    color:#fff !important;
    font-weight: bold;
    font-family: cocogothiclight;
    
}

.navbar-nav a{
    padding-left: 25px !important;
    text-align: right !important;
}


a:hover{
    color:lightseagreen !important;
}

.navbar-brand span{
    color:darkgray;
    font-weight: bold;
    font-family: cocogothic;
}

@media only screen and (min-width:0) and (max-width:576px){
.navbar-collapse{
    text-align: right !important;
    background-color: black;
    /*display: flex;*/
}
}

/*marquee {
    font-family: cocogothic;
}*/

h1 {
    font-family: cocobiker;
}


h2 {
    text-align: center;
    text-transform: uppercase;
    background-color: lightseagreen;
    font-family: cocogothic;
    padding: 20px;
}

.sec{
    height: 500px;
    background-image: url(img/background.png);
}


footer{
    background-color: #000;
    color:#fff;
    text-align: center;
    font-size: 20px;
    font-family: cocogothic;
}

footer i{
    color:lightseagreen;
    font-size: 30px;
    letter-spacing: 40px;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: lightseagreen;
    color:#fff;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    box-shadow: 0 0 5px black;
}


