@font-face {
    font-family: cocobiker;
    src: url(fonts/CocoBiker\ Regular\ Trial.ttf);
    }
@font-face {
    font-family: cocogothicbold;
    src: url(fonts/CocoGothic-Bold_trial.ttf);
}
@font-face {
    font-family: cocogothiclight;
    src: url(fonts/CocoGothic-Light_trial.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    #alturaSection {
        height: auto;   
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*NAVBAR INICIO*/
.navbar {
    height: 80px;
    background-image: linear-gradient(to left, rgba(32, 178, 171, 0.572), rgba(238, 130, 238, 0.596));
    border: 3px solid black;
    z-index: 1000;
}

.nav-link {
    float: left;
    color: #fff !important;
    font-weight: bold;
    font-family: cocogothiclight;
    }

.navbar-nav a {
    padding-left: 5px !important;
    text-align: right !important;
    font-size: 20px;
}

.navbar img {
    height: 150px;
    left: 0;
}

a:hover {
    color: lightseagreen !important;
    font-family: CocoGothic;
}

.navbar-brand span {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: cocogothic;
    margin-left: 5px;
    font-weight: bold;
    margin-left: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


section {
    margin-top: 100px; 
}

.mi-formulario {
    max-width: 300px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #a20be388;
    box-shadow: 0px 0px 10px #00bfff;
}

.label {
    display: block;
    margin-bottom: 10px;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #a20be31d; 
    border: none;
    border-bottom: 2px solid #010102;
}



textarea {
    height: 150px; 
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0b0a0a; 
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8400ff; 
}

.whatsapp-button {
    display: inline-block;
    background-color: #25d366; /* Color de WhatsApp */
    color: #fff; /* Color de texto */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.whatsapp-button i {
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #128c7e; /* Cambio de color al pasar el cursor */
}


@media only screen and (min-width: 0) and (max-width: 576px) {
    .navbar-collapse {
        text-align: right !important;
        background-color: black !important;
        }
    }